@font-face {
  font-family: 'icofont';
  src: url("../fonts/icofont.eot?v=1.0.0-beta");
  src: url("../fonts/icofont.eot?v=1.0.0-beta#iefix") format("embedded-opentype"), url("../fonts/icofont.ttf?v=1.0.0-beta") format("truetype"), url("../fonts/icofont.woff?v=1.0.0-beta") format("woff"), url("../fonts/icofont.svg?v=1.0.0-beta#icofont") format("svg");
  font-weight: normal;
  font-style: normal; }

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* GENERAL */
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  color: #343434;
  background-color: #ffffff; }

.container {
  display: flex;
  margin: 0 auto; }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1170px; } }

/* FRONT */
#front {
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-image: url(../img/bg-image.jpg);
  background-size: 100%;
  height: 500px; }
  #front .container {
    justify-content: flex-end; }

/* Top Navigation */
#main-nav ul {
  padding-top: 3rem;
  width: 1170px;
  display: flex;
  justify-content: flex-end;
  margin: 75px 0 10px 0; }
  #main-nav ul li {
    display: inline-block; }
    #main-nav ul li a {
      text-decoration: none;
      color: #fff;
      padding-left: 1rem;
      text-transform: uppercase;
      font-weight: 500; }
      #main-nav ul li a:hover {
        text-decoration: none;
        text-transform: uppercase;
        color: #f27768; }
        #main-nav ul li a:hover:after {
          content: "_";
          color: #f27768; }
#main-nav #hamburger {
  display: block;
  cursor: pointer; }
  #main-nav #hamburger:before {
    font-family: FontAwesome;
    font-size: 24px;
    content: "\f0c9";
    text-align: center;
    color: #fff; }

@media screen and (min-width: 1200px) {
  .card {
    width: 1170px;
    height: 510px;
    background-color: #fff;
    margin: 0 auto; } }
