@font-face {
    font-family: 'icofont';
    src: url('../fonts/icofont.eot?v=1.0.0-beta');
    src: url('../fonts/icofont.eot?v=1.0.0-beta#iefix') format('embedded-opentype'), url('../fonts/icofont.ttf?v=1.0.0-beta') format('truetype'), url('../fonts/icofont.woff?v=1.0.0-beta') format('woff'), url('../fonts/icofont.svg?v=1.0.0-beta#icofont') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #343434;
    background-color: #ffffff;
    width: 100%;
}

h1 {
    font-size: 2.3rem;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin-top: -0.75rem;
}

.container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    @media screen and (min-width: 1200px) {
        width: 1170px;
    }
}
