#front {
    width: 100%;
    background-repeat: no-repeat;
    background-color: $color-bg1;
    background-image: url(../img/bg-image.jpg);
    background-size: 100%;

    .container {
        display: flex;
        justify-content: flex-end;
        position: relative;
        box-sizing: border-box;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}

.card {
    padding-top: 7rem;
    padding-bottom: 7rem;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    height: auto;
    z-index: 10;
    @media only screen and (min-width: 431px) and (max-width: 768px) {
        height: 750px;
    }
    @media only screen and (max-width: 430px) and (min-width: 321px) {
        height: 800px;
    }
    @media only screen and (max-width: 320px) {
        height: 850px;
    }
    @include boxShadow(0.25);
    .front-main {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            width: 80%;
        }
        .avatar {
            padding: 0 4% 0 14%;
            max-width: 100%;
            height: auto;
            @media screen and (max-width: 768px) and (min-width: 321px) {
                margin-left: 2rem;
                margin-bottom: 3rem;
                padding: 0;
            }
            @media screen and (max-width: 320px) {
                margin-left: 1rem;
                margin-top: 1rem;
                padding: 0;
            }
        }
        .data {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 310px;
            h1,
            p {
                letter-spacing: -0.02rem;
                margin: 0;
                @media screen and (max-width: 768px) and (min-width: 321px) {
                    margin-left: 2rem;
                }
                @media screen and (max-width: 320px) {
                    margin-left: 1rem;
                }
            }
            p {
                font-size: 1.2rem;
                font-weight: 400;
                @media screen and (max-width: 768px) {
                    margin-top: 1.5rem;
                }
            }
            hr {
                width: 100%;
                margin: 2rem 0;
                border-style: solid;
                border-color: #c1c1c2;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                @media screen and (max-width: 768px) and (min-width: 321px) {
                    margin-left: 2rem;
                }
                @media screen and (max-width: 320px) {
                    margin-left: 1rem;
                    margin-top: 1rem;
                }
            }
            .social {
                display: flex;
                align-content: flex-end;
                margin: 0;
                @media screen and (max-width: 768px) and (min-width: 321px) {
                    margin-left: 2rem;
                    margin-top: 2rem;
                }
                @media screen and (max-width: 320px) {
                    margin-left: 1rem;
                    margin-top: 2rem;
                }
                #github,
                #linkedin,
                #wordpress {
                    width: 35px;
                    height: 37px;
                    background-color: $color-light;
                    margin-right: 0.8rem;
                    cursor: pointer;
                    &:hover {
                        background-color: $color-accent;
                    }
                }
            }
        }
    }
}

.data-bottom dl {
    padding: 0;
    margin: 0;
    font-size: 90%;
    @media screen and (max-width: 769px) and (min-width: 321px) {
        display: block;
        width: 100%;
        padding: 0;
        margin-left: 2rem;
        }
    @media screen and (max-width: 320px) {
        display: block;
        width: 100%;
        padding: 0;
        margin-left: 1rem;
        }
    dt {
        font-weight: 800;
        text-transform: uppercase;
        @media screen and (min-width: 768px) {
            width: 120px;
            height: 30px;
            display: inline-block;
            &:before {
                content: "";
                display: block;
            }
        }
    }
    dd {
        @media screen and (min-width: 768px) {
            display: inline-block;
        }
    }
}
