#front {
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    background-image: url(../img/bg-image.jpg);
    background-size: cover;
    height: 100vh;
    .container {
        justify-content: flex-end;
    }
}

.card {
    padding-top: 7rem;
    padding-bottom: 7rem;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.25);
    .front-main {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .avatar {
            padding: 0 10% 0 12%;
        }
        .data {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 310px;
            h1,
            p {
                letter-spacing: -0.02rem;
            }
            p {
                font-size: 1.2rem;
                font-weight: 400;
            }
            hr {
                width: 100%;
                margin: 2rem 0;
                border-style: solid;
                border-color: #c1c1c2;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
            }
            .social {
                display: flex;
                align-content: flex-end;
                svg {
                    padding-right: 0.8rem;
                    cursor: pointer;
                    &:hover {
                        .social-bg {
                            fill: $color-accent;
                        }
                    }
                }
            }
        }
    }
}

.data-bottom dl {
    font-size: 90%;
    width: 100%;
    display: block;
    dt {
        width: 120px;
        height: 30px;
        font-weight: 800;
        text-transform: uppercase;
        display: inline-block;
        &:before {
            content: "";
            display: block;
        }
    }
    dd {
        display: inline-block;
    }
}
