#contact {
    background-color: $color-bg2;
    .container {
        display: flex;
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 3rem;
        h2 {
            margin-top: 8rem;
            padding-top: 2rem;
        }
        p {
            text-align: center;
            margin: 0 15px;
        }
        .form-column {
            display: flex;
            flex-direction: column;
            width: 100%;
            form,
            label,
            input,
            textarea,
            h3 {
                width: 100%;
                display: block;
            }
            h3 {
                font-family: "Inconsolata", Helvetica, Arial, sans-serif;
                font-weight: normal;
                font-size: 1.2em;
                color: #555555;
                margin-bottom: 2rem;
                margin-top: 0;
                padding: 0;
                @media screen and (max-width: 768px) {
                    margin-top: 2rem;
                }
            }
            textarea.form-control {
                height: auto;
            }
            .form-control {
                width: 100%;
                height: 38px;
                padding: 6px 12px;
                line-height: 1.42857143;
                color: #555555;
                box-sizing: border-box;
                margin-bottom: 20px;
                margin-top: 5px;
                background-color: #fff;
                border: 1px solid #ccc;
                font-size: 0.9rem;
                font-family: Roboto, "Times New Roman", Times, serif;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            }
        }
    }
    dl {
        padding: 0;
        margin: 10px 0 0 0;
        font-size: 90%;
        @media screen and (max-width: 769px) and (min-width: 321px) {
            display: block;
            width: 100%;
            padding: 0;
            margin-left: 0;
        }
        @media screen and (max-width: 320px) {
            display: block;
            width: 100%;
            padding: 0;
            margin-left: 0;
        }
        dt {
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 1rem;
            color: $color-accent;
            @media screen and (min-width: 768px) {
                width: 120px;
                height: 30px;
                display: inline-block;
                &:before {
                    content: "";
                    display: block;
                }
            }
        }
        dd {
            @media screen and (min-width: 768px) {
                display: inline-block;
            }
        }
    }
}

.form-block {
    display: flex;
    background-color: #fff;
    justify-content: center;
    box-shadow: -1px 1px 9px rgba(0, 0, 0, 0.25);
    padding: 5rem 7rem;
    margin-top: 2rem;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

button {
    width: 170px;
    height: 50px;
    background-color: $color-accent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid $color-accent;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        @include hoverTransition(white);
        @include hoverTextTransition($color-accent);
    }
    &:active {
        border: 0;
        outline: none;
    }
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    background-color: none;
    border: 0;
    opacity: .5;
    color: #000;
    &:hover {
        color: #fff;
    }
}
