body,
html,
ul,
li,
h1,
p,
dl,
dt,
dd,
h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color-main;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

*:focus {
    outline: 0 !important;
}
