#skills {
    background-color: $color-bg2;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            margin-top: 8rem;
        }
    }
    .progress-bar {
        position: relative;
        width: 90%;
        height: 10px;
        background-color: #fff;
        margin: 10px;
        border-radius: 5px;
        .inner-bar {
            position: absolute;
            width: 1%;
            height: 100%;
            background-color: $color-accent;
        }
    }
}

.wrapper {
	display: flex;
	flex-direction: row;
}

.wrapper-column {
	width: 50%;
}



