#main-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100vw;
    ul {
        padding: 7.5rem 0 0.8rem 0;
        @media screen and (max-width: 1200px) and (min-width: 421px) {
            padding-right: 1rem;
        }
        li {
            display: inline-block;
            @media only screen and (max-width: 420px) {
                display: none;
            }
            a {
                text-decoration: none;
                color: #fff;
                padding-left: 1rem;
                text-transform: uppercase;
                font-weight: 500;
                &:hover {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $color-accent;
                    &:after {
                        content: "_";
                        color: $color-accent;
                    }
                }
            }
        }
    }
}
    
#hamburger {
    display: block;
    cursor: pointer;
    padding: 0 0 0 1rem;
    @media screen and (min-width: 421px) {
        display: none;
    }
    &:before {
        font-family: FontAwesome;
        font-size: 2rem;
        line-height: 8rem;
        content: "\f0c9";
        text-align: center;
        color: #fff;
    }
}

.menu-responsive {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    li {
        display: block;
    }
}
